.headerContainer {
	position: absolute;
}

.headerContent {
	position: relative;
	top: 4em;
	left: 7em;

	nav {
		display: flex;
		flex-direction: column;
    height: 3em;
    justify-content: space-between;
	}

	a {
		color: #ccc;
		transition: color .2s;

		&.active {
			color: #fff;
		}

		&:hover {
			color: #fff;
		}
	}
}
